@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
  --first-bg-rgb: 203, 213, 225;
  --secondary-bg-rgb: 148, 163, 184;
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 30, 41, 59;
  --first-bg-rgb: 0, 0, 0;
  --secondary-bg-rgb: 100, 116, 139;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .clip-romb {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }
  .clip-romb-mb {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
}
